.footer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  flex-wrap: wrap;
}

.break {
  flex-basis: 100%;
  height: 2px;
}

.github_svg {
  height: 42px;
  width: 42px;
  margin: 5px;
}

.linkedin_svg {
  height: 42px;
  width: 42px;
  margin: 5px;
}
